
@page "/"



<h1>Hello, world!</h1>

Welcome to your new app.


<p>
    <MatTextField @bind-Value="@MyString9" Label="Standard" TextArea="true" FullWidth="true"></MatTextField>
</p>
<p>
    <MatTextField @bind-Value="@MyString9" Dense="true" Label="Dense" TextArea="true" FullWidth="true"></MatTextField>
</p>
<p>
    <div class="text-field-container">
        <MatTextField @bind-Value="@MyString9" Label="Label" TextArea="true" FullWidth="true"></MatTextField>
    </div>
</p>

@code
        {

    public string MyString9
    {
        get => _myString9;
        set
        {
            _myString9 = value;
            this.StateHasChanged();
        }
    }

    private string _myString9;
}
